.grid-container {
    display: grid;
    grid-template-rows: 7vh 80vh 13vh;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
    background-color:rgb(108, 105, 141);

}

.list {
    vertical-align: top;
    color: aqua;
    background-color:rgb(0, 105, 141);
}

body {
    margin: 0;
    padding: 0;
    display: grid;
}
.footer {
    vertical-align: bottom;
    background-color: bisque;
    display: grid;
}








